@import "../../globals/variables.scss";

.logo {
  cursor: pointer;
  display: inline-block;
  width: 75px;
}

.img_container {
  position: relative;
  height: 35px;
  width: 35px;
  overflow: hidden;
  display: inline-block;
}

.img {
  height: 100%;
  width: 100%;
}

.title {
  position: relative;
  top: -10px;
  font-size: 22px;
  color: black;
  display: inline-block;
  transition: 0.2s;
  @include noselect;
}

.title:hover {
  color: orange;
  transition: 0.2s;
}
