.link_to {
  position: relative;
  display: inline-block;
  top: -10px;
  font-size: 18px;
  color: black;
  margin-left: 15px;
  text-decoration: none;
  transition: 0.3s;
}

.link_to:hover {
  color: orange;
  transition: 0.3s;
}
