.update_container {
  position: relative;
  height: 65vh;
  width: 100vw;
  margin-bottom: 50px;
  border-bottom: 1px solid grey;
  box-shadow: 1px 1px 5px grey;
}

@media only screen and (max-width: 900px) {
  .update_container {
    height: 130vh;
  }
}
