.buttermilk_container {
  position: absolute;
  width: 50%;
  height: 100%;
  display: inline-block;
  right: 0;
  box-sizing: border-box;
}

.image_container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  height: 102%;
  width: 102%;
  filter: blur(2px) brightness(85%);
}

.link {
  color: black;
}

@media only screen and (max-width: 900px) {
  .buttermilk_container {
    position: relative;
    height: 50%;
    width: 100%;
    display: block;
  }
}
