@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin drop {
  position: relative;
  margin-top: 45px;
}

@mixin link {
  color: black;
  text-decoration: none;
}

$space_red: #990011ff;
$forest_green: #57a773;
$honey_yellow: #fbaf00;
