.green_stack_container {
  position: absolute;
  width: 50%;
  height: 100%;
  display: inline-block;
  left: 0;
  box-sizing: border-box;
}

.image_container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  height: 102%;
  width: 102%;
  filter: blur(2px) brightness(75%);
}
